body {
  background-color: #580f0f;
}

/*TOP IMAGE WITH SEARCH BAR*/
.hero {
  height: 500px;
  width: 100%;
  background-image: url("../images/food on table.jpg");
  background-size: cover;
  background-position: center;
}
/*logo   WORKING ON

.center-logo {
  border-radius: 20px 20px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: ;
  margin-bottom: auto;
}
*/
.rounded .mx-auto .d-block .logo {
  height: 2%;
  width: 2%;
}
/*    */

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  width: 75%;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.wrapper .input {
  width: 85%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.searchbtn {
  background: WHITE;
  width: 10%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.searchbtn .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
/*END TOP IMAGE WITH SEARCH BAR*/

/*HOME PAGE -- CARDS WITH IMAGES*/
.italian {
  background-image: url("../images/italian\ food.jpg");
  background-size: cover;
  background-position: center;
}
.chinese {
  background-image: url("../images/chinese\ food.jpg");
  background-size: cover;
  background-position: center;
}
.american {
  background-image: url("../images/american\ food.jpg");
  background-size: cover;
  background-position: center;
}
.mexican {
  background-image: url("../images/mexican\ food.jpg");
  background-size: cover;
  background-position: center;
}
.thai {
  background-image: url("../images/thai food.jpg");
  background-size: cover;
  background-position: center;
}
.vietnamese {
  background-image: url("../images/vietnamese food.jpg");
  background-size: cover;
  background-position: center;
}
.vegetarian {
  background-image: url("../images/vegetarian food.jpg");
  background-size: cover;
  background-position: center;
}
.vegan {
  background-image: url("../images/vegan\ food.jpg");
  background-size: cover;
  background-position: center;
}
/*END HOME PAGE -- CARDS WITH IMAGES*/

/*HOME PAGE -- CARD ?ATTRIBUTES?? */
.cardContainer {
  height: 45vh;
}

.card {
  height: 40vh;
}

.card-wrap {
  position: absolute;
  transform: translate(25%, 50%);
  background: rgba(0, 0, 0, 0.6);
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
}

.card-wrap .card-input {
  background: rgba(240, 240, 240, 0.6);
  width: 100%;
  transform: translate(0%, 0%);
  /*  padding: 30px 20px;
  border: none;
  border-radius: 50px;*/
  font-weight: bold;
}

.card-title {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

/*FOOTER*/
.link {
  display: flex;
  flex: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  justify-content: space-around;
  padding: 5px;
}

.li {
  display: inline-block;
  margin: 20px 20px;
  padding: 1px 20px;
}

.yelp-box {
  margin: auto;
  width: 80%;
  background-color: rgb(255, 255, 255, 0);
  text-align: center;
}
